body {
  padding-top: 5.5rem;
}

.jumbotron {
  background-color: #bbd1f2;
  text-align: center;
  // border-bottom: .05rem solid #e5e5e5;
  padding: 2em;
}

.loader-message {
  text-align: center;
  font-size: 30px;
}

.footer {
  margin-top: 2em;
  padding-top: 1.5rem;
  text-align: center;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
