<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Airport Information</h1>
    <p class="lead">The essential facts about your favourite airports worldwide. <br />Here, at your fingertips.</p>
    <div>
      <airport-search></airport-search>
    </div>
  </div>
</div>
<!-- search-box -->
<!-- result details -->
<div class="container">
  <airport-detail></airport-detail>
</div>
<footer class="footer">
  <p>&copy; Oliver Gondring 2017</p>
</footer>
