.search-suggestions {
	position: absolute;
	z-index: 5;
	border: 1px solid blue;
	border-radius: 2px;

	ul {
		margin: 0px;
	}
}

.search-result {
	padding: 5px;
	background-color: white;
	cursor: pointer;
}
.search-result:hover {
	color: #eee;
	background-color: #607D8B;
}

.search-box-wrapper {
}

#search-box{
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #bbb;
}
